<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Le styles -->
  <link href="{{ 'css/bootstrap.css'|staticfile }}" rel="stylesheet">
  <link href="{{ 'css/user.css'|staticfile }}" rel="stylesheet">
  <link href="{{ 'css/bootstrap-responsive.css'|staticfile }}" rel="stylesheet">
  <!-- echart -->
  <script src="{{ 'js/echarts.min.js'|staticfile }}"></script>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Stock Trading</a>
        <div class="nav-collapse collapse">
          <p class="navbar-text pull-right">
            <a href="logIn()" class="navbar-link" id="logInA" data-bind="true">Log in</a>
            <a href="#" class="navbar-link hide" id="Name">name</a>
            <span>|</span>
            <a href="logOut()" class="navbar-link" data-bind="true">Log out</a>
          </p>
          <ul class="nav">
            <!--
            <li><a href="#">some function</a></li>
            !-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="fsc-width-2">
      <form class="fsc-search-form navbar-search">
        <input id="stockCode" onkeypress="inputPressed()" type="text" class="search-query" placeholder="Search111">
      </form>
      <div class="fsc-info">
        <div class="text-center">
          <h4>Stock Info</h4>
        </div>
        <div class="row-fluid">
          <div class="span6"><h6>Price: <span id="infoPrice"></span>$</h6></div>
          <div class="span6"><h6>High: <span id="infoHigh"></span>$</h6></div>
        </div>
        <div class="row-fluid">
          <div class="span6"><h6>Low: <span id="infoLow"></span>$</h6></div>
        </div>
      </div>
      <div class="fsc-trade">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Buy</a></li>
            <li><a href="#tab2" data-toggle="tab">Sell</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <form class="navbar-form pull-left">
                <div>
                  <span>T:</span>
                  <select id="buyT" class="form-control">
                    <option value="" selected disabled>Type of order</option>
                    <option value="limit">Limit</option>
                    <option value="market">Market</option>
                  </select>
                </div>
                <div>
                  <span>P:</span>
                  <input id="buyP" type="text" placeholder="Price">
                </div>
                <div>
                  <span>Q:</span>
                  <input id="buyQ" type="text" placeholder="Quantity">
                </div>
                <div class="text-center">
                  <button onclick="orderBuy()"  class="btn btn-info" type="button">Buy</button>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="tab2">
              <form class="navbar-form pull-left">
                <div>
                  <span>T:</span>
                  <select id="sellT" class="form-control">
                    <option value="" selected disabled>Type of order</option>
                    <option value="limit">Limit</option>
                    <option value="market">Market</option>
                  </select>
                </div>
                <div>
                  <span>P:</span>
                  <input id="sellP" type="text" placeholder="Price">
                </div>
                <div>
                  <span>Q:</span>
                  <input id="sellQ" type="text" placeholder="Quantity">
                </div>
                <div class="text-center">
                  <button onclick="orderSell()" class="btn btn-info" type="button">Sell</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="fsc-width-3-5">
      <div class="fsc-chart-container">
        <div id="main" class="fsc-chart"></div>
      </div>
    </div>
    <div class="fsc-width-4-5">
      <div class="fsc-transaction text-center">
        <h4>Order Book</h4>
        <table class="table table-striped">
          <tbody id="orderBook">


          </tbody>
        </table>
      </div>
      <div class="fsc-history text-center">
        <h4>Trading Transaction</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Time</th>
              <th>Symbol</th>
              <th>Price /$</th>
              <th>Volumn</th>
              <th>Side</th>
              <th>Status</th>
              <th>Filled</th>
              <th>Avg Price</th>
              <th>Cancel</th>
            </tr>
          </thead>
          <tbody id="tradingTransaction">

          </tbody>
        </table>
      </div>
    </div>
    <!--
    <div id="logInModal" class="modal hide fade in" style="display: none; ">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Log in to system</h3>
          </div>
          <div class="modal-body">
            <div class="login-div">
              <input type="text" id="userName" placeholder="Name">
              <input type="password" id="password" placeholder="password">
            </div>

          </div>
          <div class="modal-footer">
            <a href="logIn()" class="btn btn-success"  data-bind="true">login</a>
          </div>
        </div>
      </div>
    </div>
    !-->
  </div>
  <script type="text/javascript">
    //js must be edited here

    var stockCode="";


    /*
    function showLoginModal(){
      $('#logInModal').modal('show');
    }
    */

    function logIn(){
      //var userName=$('#userName').val();
      //var password=$('#password').val();
      //var msg=GUISignal.logIn(userName,password);
      //msg=JSON.parse(msg);
      //if(msg.success){
        //$('#logInA').hide();
        //$('#Name').show();
        //$('#Name').text(msg.userName);
        //$('#logInModal').modal('hide');
      //}
      //else{
        //alert(msg.msg);
      //}
      GUISignal.logIn();
      $('#logInA').hide();
      $('#Name').show();
      $('#Name').text("Client");
    }


    function logOut(){
      GUISignal.logOut();
      $('#Name').hide();
      $('#logInA').show();
    }

    function refreshTransaction(transactionJson){
      var transactionData=JSON.parse(transactionJson);
      var tmp='';
      for(var i=0;i<transactionData.content.length;i++){
        if(transactionData.content[i].average_price == null){
          transactionData.content[i].average_price='None';
        }
        tmp=tmp+'\
          <tr>';

        tmp=tmp+'\
            <td>'+transactionData.content[i].transaction_time+'</td>\
            <td>'+transactionData.content[i].stock_ticker+'</td>\
            <td>'+transactionData.content[i].order_price+'</td>\
            <td>'+transactionData.content[i].order_quantity+'</td>\
            <td>'+transactionData.content[i].side+'</td>\
            <td>'+transactionData.content[i].last_status+'</td>\
            <td>'+transactionData.content[i].quantity_filled+'</td>\
            <td>'+transactionData.content[i].average_price+'</td>';
          if(transactionData.content[i].last_status == 'PENDING'){
            tmp=tmp+'<td><a class="btn fsc-btn-cancel btn-xs btn-danger" data-bind="true" href="orderCancel(\''+transactionData.content[i].order_id+'\')">cancel</a></td>';
          }
          else{
            tmp=tmp+'<td>—</td>';
          }
          tmp=tmp+'</tr>';

      }
      $('#tradingTransaction').html(tmp);
    }

    function orderCancel(orderID){
      GUISignal.orderCancel(orderID);
    }


    function splitData(price,quantity) {
      var categoryData = [];
      var prices = [];
      var volumns = [];
      for (var i = 0; i < price.length; i++) {
          categoryData.push(price[i].time+'-01-01');
          prices.push(price[i].price);
          volumns.push(quantity[i].quantity);
      }
      return {
          categoryData: categoryData,
          prices: prices,
          volumns: volumns
      };
    }

    function freshChart(jsonData){

      if(pStockCode.length==0){
        return
      }

      //var jsonData=GUISignal.freshChart(pStockCode);

      jsonData=JSON.parse(jsonData);
      if(jsonData.success){
        $('#infoPrice').html(jsonData.stockInfo.price);
        $('#infoHigh').html(jsonData.stockInfo.high);
        $('#infoLow').html(jsonData.stockInfo.low);
        $('#orderBook').html('\
          <tr>\
            <td>Sell-5</td>\
            <td>'+jsonData.orderBook.sell[4].price+'$</td>\
            <td>'+jsonData.orderBook.sell[4].quantity+'</td</tr>\
          <tr>\
            <td>Sell-4</td>\
            <td>'+jsonData.orderBook.sell[3].price+'$</td>\
            <td>'+jsonData.orderBook.sell[3].quantity+'</td>\
          </tr>\
          <tr>\
            <td>Sell-3</td>\
            <td>'+jsonData.orderBook.sell[2].price+'$</td>\
            <td>'+jsonData.orderBook.sell[2].quantity+'</td>\
          </tr>\
          <tr>\
            <td>Sell-2</td>\
            <td>'+jsonData.orderBook.sell[1].price+'$</td>\
            <td>'+jsonData.orderBook.sell[1].quantity+'</td>\
          </tr>\
          <tr>\
            <td>Sell-1</td>\
            <td>'+jsonData.orderBook.sell[0].price+'$</td>\
            <td>'+jsonData.orderBook.sell[0].quantity+'</td>\
          </tr>\
          <tr>\
            <td class="done">done</td>\
            <td class="done">100$</td>\
            <td class="done">20</td>\
          </tr>\
          <tr>\
            <td>Buy-1</td>\
            <td>'+jsonData.orderBook.buy[4].price+'$</td>\
            <td>'+jsonData.orderBook.buy[4].quantity+'</td>\
          </tr>\
          <tr>\
            <td>Buy-2</td>\
            <td>'+jsonData.orderBook.buy[3].price+'$</td>\
            <td>'+jsonData.orderBook.buy[3].quantity+'</td>\
          </tr>\
          <tr>\
            <td>Buy-3</td>\
            <td>'+jsonData.orderBook.buy[2].price+'$</td>\
            <td>'+jsonData.orderBook.buy[2].quantity+'</td>\
          </tr>\
          <tr>\
            <td>Buy-4</td>\
            <td>'+jsonData.orderBook.buy[1].price+'$</td>\
            <td>'+jsonData.orderBook.buy[1].quantity+'</td>\
          </tr>\
          <tr>\
            <td>Buy-5</td>\
            <td>'+jsonData.orderBook.buy[0].price+'$</td>\
            <td>'+jsonData.orderBook.buy[0].quantity+'</td>\
          </tr>');

        var chartData = splitData(jsonData.price.content,jsonData.quantity.content);

        myChart.setOption(option = {
          backgroundColor: '#eee',
          animation: false,
          legend: {
            //图例
            top: 10,
            left: 'center',
            data: ['Price','Volumn']
          },
          tooltip: {
            //提示框
            show:true,
            trigger: 'axis',
            axisPointer: {
              type: 'line'
            }
          },
          toolbox: {
            //工具盒子
            show:false
          },
          grid: [
          //放置位置
          {
            left: '10%',
            right: '8%',
            height: '50%'
          },
          {
            left: '10%',
            right: '8%',
            top: '63%',
            height: '16%'
          }
          ],
          xAxis: [
          {
            type: 'category',
            data: chartData.categoryData,
            scale: true,
            boundaryGap : false,
            axisLine: {onZero: false},
            splitLine: {show: false},
            //axisLabel: {show:true,interval: 0}
            splitNumber: 10,
            min: 'dataMin',
            max: 'dataMax'
          },
          {
            type: 'category',
            gridIndex: 1,
            data: chartData.categoryData,
            scale: true,
            boundaryGap : false,
            axisLine: {onZero: false},
            axisTick: {show: false},
            splitLine: {show: false},
            axisLabel: {show: false},
            splitNumber: 10,
            min: 'dataMin',
            max: 'dataMax'
          }
          ],
          yAxis: [
          {
            scale: true,
            splitArea: {
              show: true
            }
          },
          {
            scale: true,
            gridIndex: 1,
            splitNumber: 2,
            axisLabel: {show: false},
            axisLine: {show: false},
            axisTick: {show: false},
            splitLine: {show: false}
          }
          ],
          dataZoom: [
          //显示区域
          {
            type: 'inside',
            xAxisIndex: [0, 1],
            startValue: chartData.categoryData[chartData.categoryData.length-(14>chartData.categoryData.length?chartData.categoryData.length:18)],
            endValue: chartData.categoryData[chartData.categoryData.length-1]
          },
          {
            show: true,
            xAxisIndex: [0, 1],
            type: 'slider',
            top: '85%',
            startValue: chartData.categoryData[chartData.categoryData.length-(14>chartData.categoryData.length?chartData.categoryData.length:14)],
            endValue: chartData.categoryData[chartData.categoryData.length-1]
          }
          ],
          series: [
          {
            name: 'Price',
            type: 'line',
            data: chartData.prices,
            lineStyle: {
              normal: {
                color:'#4EA4D9',
                width:2
              }
            }
          },
          {
            name: 'Volumn',
            type: 'bar',
            xAxisIndex: 1,
            yAxisIndex: 1,
            data: chartData.volumns
          }
          ]
        }, true);
      }
    }




    var myChart = echarts.init(document.getElementById('main'));

    var timer=-100;

    function inputPressed(){
      if(event.keyCode==13){
        stockCode=$("#stockCode").val();
        GUISignal.searchStock(stockCode);
        //if(timer!=-100){
          //clearInterval(timer);
        //}
        //if(stockCode.length!=0){
          //timer=setInterval("freshChart(stockCode)",1000);
          //freshChart(stockCode);
        //}
      }
    }

    function orderSell(){
      var type=$("#sellT").val();
      var q=$("#sellQ").val();
      var p=$("#sellP").val();
      var c=$("#stockCode").val();
      GUISignal.orderSell(p,q,type,c);
    }
    function orderBuy(){
      var type=$("#buyT").val();
      var q=$("#buyQ").val();
      var p=$("#buyP").val();
      var c=$("#stockCode").val();
      GUISignal.orderBuy(p,q,type,c);
    }


    //select a part of data
    /*
    myChart.dispatchAction({
      type: 'brush',
      areas: [
      {
        brushType: 'lineX',
        coordRange: ['2016-06-02-01-01', '2016-06-20-01-01'],
        xAxisIndex: 0
      }
      ]
    });
    */

  </script>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="{{ 'js/jquery.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap-transition.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap-alert.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap-modal.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap-dropdown.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap-scrollspy.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap-tab.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap-tooltip.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap-popover.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap-button.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap-collapse.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap-carousel.js'|staticfile }}"></script>
    <script src="{{ 'js/bootstrap-typeahead.js'|staticfile }}"></script>



  </body></html>
